#calendar-app {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 600px;
    /* border: 1px solid; */
    width: 80vw;
}

.day {
    /* padding: 100px; */
    border: 1px solid rgb(24, 26, 24);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.day:hover {
    background: rgb(156, 156, 190);
    color: white;
}
header {
    background: green;
}