body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 20px;
  margin-left: 70px;
  min-width: 1px;
  width: 70%;

}
nav {
  margin-top: -30px;
}


.clock {
  background: rgb(135, 179, 135);
  width: auto;
  height: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;


}

.rowtext {
  padding: 30px;
  width: 15%;
  text-align: left;

  margin-right: -70px;
  /* border: 1px solid; */
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 60vw;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

#currentDay {
  color: black;
  padding:10px;
  border-radius: 5px;;
}

.past {
  background-color: #d3d3d3;
  color: white;
}
.control {
  display: flex;
  justify-content: space-evenly;

}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  width: 10%;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
.btn {
  width: 80px;
  height: 30px;
}